h1{
  color:red;
  font-size:50px;
}
body{
background-color:yellow;
}
p{color:blue;
}
#para1{
  color:green;
  font-size:20px;
}
.otherp{
  color:pink;
}
h1,h2,h3{
  font-style:italic;
}
div h1{
  font-weight:bold;
}
body{
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:1px;
  border-style:solid;
  border-color:green;
  border-radius:5px;
  padding-left:20px;
  padding-right:20px;
}
div.本人{
  border-width:1px;
  border-style:solid;
  border-color:grey;
  border-radius:5px;
}
img{
  float:left;
}
div.本人-end{
  clear:both;
}
table
{
  border-collapse:collapse
}
table,th,td
{
  border:1px solid black;
}

th
{
  background-color:green;
  color:white;
}
table
{
  width:100%
}
th
{
  height:50px
}
td
{
  text-align:right;
}
td
{
  padding:15px
}

#center{
  display:table;
  width:948px;
}

#nav,#content{
  display:tablle-cell;
}

#nav{
  width:150px;
}
#footer{
  color:red;
  font-size:20px;
  font-style:italic;
}
    
