h1{
  color:red;
  font-size:50px;
}
body{
background-color:yellow;
}
p{color:blue;
}
#para1{
  color:green;
  font-size:20px;
}
.otherp{
  color:pink;
}
*{
  font-style:italic;
}
body{
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:1px;
  border-style:solid;
  border-color:green;
  border-radius:5px;
  padding-left:20px;
  padding-right:20px;
}
table
{
  border-collapse:collapse
}
table,th,td
{
  border:1px solid black;
}

th
{
  background-color:green;
  color:white;
}
table
{
  width:100%
}
th
{
  height:50px
}
td
{
  text-align:right;
}
td
{
  padding:15px
}
    
