h1{
  color:red;
  font-size:50px;
}
body{
background-color:yellow;
}
p{color:blue;
}
#para1{
  color:green;
  font-size:20px;
}
.otherp{
  color:pink;
}
*{
  font-style:italic;
}
body{
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:1px;
  border-style:solid;
  border-color:green;
  border-radius:5px;
  padding-left:20px;
  padding-right:20px;
}
    
